.navbar {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: sticky;
  top: 0px;
}

.summaryContainer {
  display: flex;
  gap: 20px;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
