.h1 {
  margin-bottom: 12px;
}

.shopCart {
  width: 500px;
  /* flex-grow: 1; */
  /* height: 500px; */
  /* border: 1px solid black; */
}

.hr {
  width: 90%;
}

@media (max-width: 900px) {
  .shopCart {
    width: 300px;
  }
}
