.h1 {
  margin-bottom: 12px;
}

.shopCart {
  width: 500px;
  /* flex-grow: 1; */
  /* height: 500px; */
  /* border: 1px solid black; */
}

.hr {
  width: 90%;
}

.totalCollector {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.clearButton {
  background-color: rgba(255, 0, 0, 0.707);
  border-radius: 10px;
  padding: 8px 20px;
  color: white;
}

@media (max-width: 900px) {
  .shopCart {
    width: 300px;
  }
}
